<nav class="p-3 nav-container d-flex flex-row flex-md-column w-100 w-md-auto">
   <ul
      class="nav flex-row flex-md-column w-100 justify-content-around justify-content-md-start"
   >
      <li class="nav-item">
         <a class="nav-link" id="credsLink" href="../Pages/credentials.html"
            >Credentials</a
         >
      </li>
      <li class="nav-item">
         <a class="nav-link" id="financeLink" href="../Pages/finances.html"
            >Finances</a
         >
      </li>
      <li class="nav-item">
         <a class="nav-link" id="noteLink" href="../Pages/notes.html">Notes</a>
      </li>
   </ul>
</nav>
