body{
    margin: 0;
    padding: 0;
    display: block;
    background-color: var(--dark-backgroud);
    color: var(--text-color);
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Colors */
:root{--orange: #ff7e22;
    --yellow: #fca62a;
    --pink: #f57ad0;
    --purple: #673ece;
    --indigo: #5a43f1;
    --indigo-dark: #4509cf;
    --indigo-light: #969bf6;
    --indigo-muted: #f1f2fd;
    --dark-backgroud: #1c1e24;
    --text-color:#f8f9fa;
}

/* Prefabs */

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav-link {
  color: #cfcfcf !important;
}

.nav-link:hover {
  color: #fff !important;
  border-bottom: .5px solid var(--indigo-light);
}

.nav-link.active {
  color: var(--indigo-light) !important;
}

.content-div{
    padding-top: 1rem;
}

/* Navbar styling */

.nav-div {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--dark-backgroud) !important;
}

.nav-container{
    padding: 1rem 0 0 0 !important;
    border-right: .5px solid var(--indigo-light) !important;
}

/* Login styling */

.masterPasswordPrompt{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh; 
   gap: 1rem;
}

.masterPasswordInput{
    max-width: 30rem;
}