body{
    margin: 0;
    padding: 0;
    display: block;
    background-color: var(--dark-backgroud);
    color: var(--text-color);
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Colors */
:root{--orange: #ff7e22;
    --yellow: #fca62a;
    --pink: #f57ad0;
    --purple: #673ece;
    --indigo: #5a43f1;
    --indigo-dark: #4509cf;
    --indigo-light: #969bf6;
    --indigo-muted: #f1f2fd;
    --dark-backgroud: #1c1e24;
    --text-color:#f8f9fa;
}

/* Prefabs */

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav-link {
  color: #cfcfcf !important;
  font-size: 1rem;
}

.nav-link:hover {
  color: #fff !important;
  border-bottom: .5px solid var(--indigo-light);
}

.nav-link.active {
  color: var(--indigo-light) !important;
}

.content-div{
    padding: 1rem;
}

.narrow-input {
   max-width: 30rem !important;
}

.narrow-top-padding{
  padding-top: 2rem;
}

.small-top-padding{
  padding-top: 1rem;
}

.table thead th {
   position: sticky;
   top: 0;
   background-color: #fff;
   z-index: 1;
}

.hidetext { -webkit-text-security: disc; }
.hidetext:hover {
  -webkit-text-security: none;
}

.toast-body{
  background-color: #1c1e24 !important;
}

.toast-header{
  background-color: #1c1e24 !important;
  color: var(--text-color);
}

.pageContent{
  padding: 2rem;
}

.prefabTable{
  background-color: var(--dark-backgroud) !important;
  color: var(--text-color) !important;
}

/* Navbar styling */

.nav-div {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--dark-backgroud) !important;
}

.nav-container{
    padding: 1rem 0 0 0 !important;
    border-right: .5px solid var(--indigo-light) !important;
}

/* Login styling */

.masterPasswordPrompt{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh; 
   gap: 1rem;
}

.masterPasswordInput{
    max-width: 30rem;
}

.forgotPasswordBtn{
  color: var(--text-color)!important;
}

.forgotPasswordBtn:hover{
  color:  lightblue !important;
}

.renderLoginBtn{
  color: var(--text-color)!important;
}

.renderLoginBtn:hover{
  color:  lightblue !important;
}

/* Credentials styling */

.page-heading{
  padding-left: 2rem;
}

.credentialsContent{
  padding: 2rem;
}

.table-scroll-wrapper {
   max-height: 500px; 
   overflow-y: auto;
   margin-top: 10px;
   border-radius: 5px;
}

.accounts-table{
  background-color: var(--dark-backgroud) !important;
  color: var(--text-color) !important;
}

.hidden-note{
  display: none;
}


/* Add account styling */

.centered-form-container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-box {
   width: 100%;
   max-width: 500px;
   padding: 1rem;
}

.form-box input,
.form-box textarea,
.form-box button {
   margin-bottom: 1rem;
}

.add-accountBtn{
  width: auto;
   min-width: 150px;
   align-self: center;
   display: block;
   margin: 0 auto;
}

.add-account-header{
  padding-bottom: 1rem;
}

/* Finance styling */

/* Media styling */
@media (min-width: 768px) {
   .nav-container {
      height: 100vh;
      border-right: 1px solid #dee2e6;
      border-bottom: none;
   }
}